
body {
	padding-left: 20%;
	padding-right: 20%;
}

h1, h2, h3,b, strong {
	color: Plum;}


h1, h3{
    text-align: center;
}

h2{
    text-align: right;

    border-bottom: 1px solid LightSlateGray;
}

hr {
    border-top: 1px dashed LightSlateGray;
    width:50%;

}

p{
    color:  DarkSlateGray;
    font-family: Georgia, serif;

}

