
body {
    padding: 50px 20%;
	margin-left: 20%;
	margin-right: 2%;
}

h1, h2, h3 {


	color: Plum;

}

b, strong { color: plum; }

h1, h3{
    text-align: center;
}

h2{
    text-align: right;
    text-decoration: underline LightSlateGray;
}

hr {
    border-top: 1px dotted LightSlateGray;
    width:50%;

}

p{
    color:  DarkSlateGray;
    font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;


}

